black
flake8
ipython
isort
jupyter
jupyterlab
kedro==0.18.4
#kedro-telemetry~=0.2.0
nbstripout
pytest-cov
pytest-mock
pytest
tensorflow
pandas
#deeptables
nltk
kedro_tf_text @ git+https://github.com/dermatologist/kedro-tf-text.git@feature/refactor-pipeline-1
python-json-logger
Pillow
scikit-learn
tensorflow-text